.popup__close-button {
  background-image: url(../../../images/close-button.svg);
  width: 32px;
  height: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  align-self: flex-start;
  justify-self: flex-end;
  background-size: cover;
  padding: 0;
}

.popup__close-button:hover {
  opacity: 0.8;
  cursor: pointer;
}
@media screen and (max-width: 498px) {
  .popup__close-button {
    width: 20px;
    height: 20px;
    margin-bottom: 16px;
    align-self: flex-end;
  }
}
