.profile__info {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 8px 16px;
  color: #fff;
  margin: 62px 0 75px;
  flex-basis: 580px;
}

@media screen and (max-width: 980px) {
  .profile__info {
    flex-basis: 0;
    margin: 26px 0 36px 28px;
    align-items: center;
    gap: 8px 10px;
  }
}
